course1/КЯР/лаба12/zadanie3Schema.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<?xml-stylesheet type="text/css" href="zadanie1.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "companies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "company">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="info" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="since" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                        </xs:sequence>
                    </xs:comlexType>
                    <xs:element name = "company">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="info" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="since" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                        </xs:sequence>
                    </xs:comlexType>
                    <xs:element name = "company">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="info" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="since" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                        </xs:sequence>
                    </xs:comlexType>
            </xs:sequence>
        </xs:comlexType>
    </xs:element>
</xs:schema>